@import './cloortt.css';

.web-sidebar{
   width:280px; 
   padding:20px 0;
}
.web-sidebar .top{
    padding:0 15px 0 15px;
}
.web-sidebar .links ul li{
    padding:35px 15px 35px 15px;
    border-bottom:8px solid var(--c-base-mild);
}

.web-sidebar .links ul li:nth-child(1){
    padding-top:0;
}

.web-sidebar .links ul li:nth-last-child(1){
    padding-bottom:0;
    border-bottom:0;
}
.web-app-body{
    float:right;
    padding:15px 30px;
    width:calc(100% - 280px);
}

.web-app-body .col-1{
    width:40%;
}

.web-app-body .col-2{
    width:60%;
}

.web-app-body .col-2 .user-photo{
    width:40px;
    height:55px;
}

.web-app-body .col-2 ul li{
    width:55px;
    height:40px;
    margin-right:20px;
    border-radius: 100px;
}

.web-app-body .col-2 ul li:nth-last-child(1){
    margin-right:0;
}

.web-settings .frame .group{
    margin-bottom:30px;
}

.web-settings .frame .group:nth-last-child(1){
    margin-bottom:0;
}

.web-settings .frame .group .header{
    padding:12px 15px;
}

.web-settings .frame .group .content{
    margin-top:15px;
}

.web-settings .frame .group .content .child{
    padding:15px 15px;
    margin-bottom:5px;
}

.web-settings .frame .group .content .child:nth-last-child(1){
    margin-bottom:0;
}

.web-settings .frame .group .content .child .icon{
    width:6%;
}

.web-settings .frame .group .content .child .text{
    width:88%;
}


@media(max-width:900px){
    .web-sidebar{
        display:none;
    }
    .web-app-body{
        padding:12px 12px;
        width:100%
    }

    .web-app-body .col-2 ul li{
        width:55px;
        height:40px;
    }

    .web-app-body .col-2 ul li svg{
        width:22px;
        height:22px;
    }

    .web-settings .frame .group .header{
        padding:10px 15px;
    }

    .web-settings .frame .group .content{
        margin-top:12px;
    }

    .web-settings .frame .group .content .child{
        padding:12px 15px;
    }

    .web-settings .frame .group .content .child .icon{
        width:15%;
    }

    .web-settings .frame .group .content .child .text{
        width:70%;
    }
}